<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 상세보기</title>
    <style>
        body {width:100%;height:1000x;margin: 0 auto;}
        table tr td {border: none;}
    </style>
</head>
<body>
    <hr style="border: 1px solid rgb(187, 185, 185);">
    <%for(var i=0;i<data.length; i++) { %>
  <h2><%=data[i].noticeTitle%></h2>
  <table>
      <tr>
          <td><%=data[i].noticeAthor%> <span style="color:rgb(165, 162, 162);">|</span> <%=data[i].CDATE%></td>
      </tr>
      <tr>
          <td> 분야 : <%=data[i].kindName%></td>
      </tr>
  </table>
  <span style="float: right;">조회 <%=data[i].noticeSee%></span><br>
  <hr style="border: 1px dashed rgb(202, 198, 198);"/>
         
         <%=data[i].noticeContent%>
       <% if(sess.info) {%>
       <% if(sess.info.userCheck == 1 && sess.info.userId == data[i].userId) {%>
        <a style="font-size: 15pt; padding:10px; border:none; background-color:#FF6C6C; color:white;float: right; background-color:#DB0000; border-radius: 10px; margin-right:10px;" href="/Delete/<%=data[i].noticeNum%>">삭제</a>
       <a style="font-size: 15pt; padding:10px; border:none; background-color:#FF6C6C; color:white;float: right; background-color:#DB0000; border-radius: 10px; margin-right:10px;" href="/Modify/<%= data[i].noticeNum %>">수정</a>
        <%}}}%>
    
        
    
    </body>
</html>
